<div class="test-block">
  <div class="title">Тестовое задание</div>
  <div class="text-container">
    <div class="text-20">
      Это простое задание, в котором нужно сверстать несколько тестовых блоков и
      галерею. Ожидаем что все получится аккуратно, особое внимание уделим
      организации кода чтобы потом можно было максимально легко переиспользовать
      и расширять эти простые компоненты.
    </div>
    <div class="grey-text">
      Этот блок с описанием тоже нужно сверстать. Специально использовали разные
      стили и текстовые блоки, даже если они порой неуместны ;)
    </div>
  </div>
  <div class="diff-title">текстовые блоки и изображения для галереи</div>
  <div class="text-container-last">
    <div class="copy-form">
      <copy-form link="https://test.vasya.ru/api/pages/index/"></copy-form>
    </div>
    <div class="text-16-container">
      <div class="text-16">
        Будет круто, если по клику на желтый блок, соответствующая ссылка сразу
        скопируется в буфер обмена и пользователь получит какое-то максимально
        естественное уведомление что у него теперь в буфере эта ссылка.
      </div>
    </div>
  </div>
</div>
