<!-- TODO По общей структуре отображение должно зависеть от параметров.-->
<!-- TODO Все перечисления обработать директивами.-->
<!-- TODO Поехала верстка из-за галереи-->
<!-- TODO Форму сделать формой, реактивной, со стандартной валидацией-->
<!-- TODO Форму отправить через сервис в консоль, с выводом объекта-->
<!-- TODO Поправить мобильную версия, частно некрректно ведет себя галерея или шапка-->
<header id="home"></header>
<div class="flex-box">
  <div class="main-container">
    <test-block></test-block>
    <div style="margin-bottom: 30px" id="textBlock" class="st-blocks-container">
      <div></div>
      <static-block
        title="Заголовок статичного блока"
        text="Анализ зарубежного опыта транслирует целевой сегмент рынка, повышая конкуренцию. Создание приверженного покупателя, вопреки мнению П.Друкера, отражает фирменный стиль, полагаясь на инсайдерскую информацию. Цена клика оправдывает выставочный стенд. Еще Траут показал, что точечное воздействие стремительно специфицирует рейтинг."
      ></static-block>
      <static-block
        text="Привлечение аудитории осмысленно переворачивает сегмент рынка, осознав маркетинг как часть производства. Потребление без оглядки на авторитеты транслирует имидж предприятия. Практика однозначно показывает, что фокусировка последовательно продуцирует популярный SWOT-анализ. Социальный статус спонтанно притягивает диктат потребителя. Сервисная стратегия индуцирует рекламоноситель. VIP-мероприятие, суммируя приведенные примеры, настроено позитивно."
      ></static-block>
    </div>
    <div class="images">
      <img src="./assets/1_img.svg" />
      <img src="./assets/4_img.svg" />
      <img src="./assets/3_img.svg" />
      <img src="./assets/4_img.svg" />
    </div>
    <div class="st-blocks-container">
      <static-block
        title="Второй статичный блок"
        text="Продукт, на первый взгляд, индуцирует конструктивный традиционный канал. Наряду с этим, начальная стадия проведения исследования изоморфна времени. Макет по-прежнему устойчив к изменениям спроса."
      ></static-block>
      <div class="list-container">
        <li-component
          liContent="Маркетинг довольно хорошо сбалансирован"
        ></li-component>
        <li-component
          liContent="Поисковая реклама индуцирует повседневный потребительский рынок"
        ></li-component>
        <li-component
          liContent="Рекламная заставка программирует нишевый проект"
        ></li-component>
        <li-component
          liContent="Согласно предыдущему, стратегическое планирование синхронизирует сублимированный выставочный стенд. Рекламная заставка программирует нишевый проект. Рекламное сообщество тормозит ролевой пресс-клиппинг, невзирая на действия конкурентов. "
        ></li-component>
        <li-component
          liContent="Искусство медиапланирования масштабирует инвестиционный продукт"
        ></li-component>
      </div>
      <static-block text="Еще может быть нумерованный список:"></static-block>
      <div style="margin-bottom: 50px" class="num-list-container">
        <num-list-component
          number="1."
          numListContent="Маркетинг довольно хорошо сбалансирован"
        ></num-list-component>
        <num-list-component
          number="2."
          numListContent="Поисковая реклама индуцирует повседневный потребительский рынок"
        ></num-list-component>
        <num-list-component
          number="3."
          numListContent="Рекламная заставка программирует нишевый проект"
        ></num-list-component>
      </div>
      <static-block
        title="Третий статичный блок"
        text="Инвариант трансформирует драматизм. Асинхронность эволюции видов, в первом приближении, готично иллюстрирует бессознательный драматизм, так Г.Корф формулирует собственную антитезу. Теория наивного и сентиментального искусства иллюстрирует комплекс априорной бисексуальности. Синтез искусств готично дает мимезис. Монтаж неравномерен."
      ></static-block>
      <incut-text-component
        incutText="Очевидно, что горизонт ожидания монотонно иллюстрирует первоначальный драматизм. Эзотерическое потенциально. Миракль, согласно традиционным представлениям, имитирует незначительный драматизм, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Типическое случайно."
      ></incut-text-component>
      <static-block
        text="Психологический параллелизм, по определению, иллюстрирует базовый тип личности. Художественная контаминация диссонирует экзистенциализм, таким образом, второй комплекс движущих сил получил разработку."
      ></static-block>
    </div>
    <gallery-block id="gallery"></gallery-block>
  </div>
</div>

<div class="bg-greyLight">
  <div style="display: flex">
    <div class="form-container">
      <form-block id="formBlock"></form-block>
    </div>
  </div>
</div>

<div class="bg-greyLight">
  <div class="footer-container">
    <footer></footer>
  </div>
</div>
