<div class="gallery-block-container">
  <div class="width">
    <div class="title">Галерея с изображениями</div>
    <div class="text">
      Все просто. Выводится столько фотографий сколько влезит на экран. Те что
      не влезли рассчитываются и выводится их количество над последней
      фотографией. По клику на эту подпись так же открывается увеличенное версия
      того изображения, над которым выводится подпись.
    </div>
  </div>

  <gallery></gallery>
  <div class="width">
    <div class="text-18">
      Для того, чтобы на странице мы выводили изображение фактического нужного
      размера, а не просто уменьшали заведомо большее изображения, есть такая
      возможность:
    </div>
    <copy-form
      link="https://test.vasya.ru/api/crop/media/uploads/gallery/gallery/6.jpeg?geometry=420x240&crop=center"
    ></copy-form>
    <div class="text-16">
      В параметре geometry можно задать размеры для изображения, а в crop
      выбрать тип кадрирования (center, top, bottom) или вообще его не указывать
      и тогда изображение пропорционально будет «вписано» в указнные размеры.
    </div>
  </div>
</div>
