@import "../../styles.scss";

.txt {
  @extend %montRegular;
  font-size: 18px;
  line-height: 160%;
  color: $greyDark;
  margin-left: 49px;
}

.form-block-container {
  width: 1088px;
  position: relative;
  img {
    position: absolute;
    margin-top: -80px;
    margin-left: -300px;
  }

  .title {
    @extend %montBold;
    font-size: 48px;
    line-height: 120%;
  }
  .form-block {
    margin-top: 50px;
    max-width: 1088px;
    .form-group {
      margin-bottom: 30px;
      display: flex;

      textarea {
        width: 538px;
        height: 130px;
      }

      input::placeholder,
      textarea::placeholder {
        @extend %montBold;
        font-size: 18px;
        line-height: 160%;
        color: $greyDark;
      }
      input {
        width: 538px;
        height: 50px;
      }
      .placeholder-reg::placeholder {
        @extend %montRegular;
        font-size: 18px;
        line-height: 160%;
        color: $greyDark;
      }
    }
    .field-checkbox {
      display: flex;
      align-items: flex-start;
      margin-bottom: 38px;
      p-checkbox {
        margin-top: 3px;
        margin-right: 13px;
      }
    }
    .check-text {
      @extend %montRegular;
      font-size: 18px;
      line-height: 160%;
    }
  }
  .button-container {
    display: flex;
    margin-bottom: 60px;
  }
  button {
    height: 60px;
    min-width: 335px;
    border-radius: 8px;
    @extend %montBold;
    font-size: 20px;
    line-height: 160%;
  }
  button:disabled {
    background-color: rgb(111, 175, 218);
    border: 1px;
  }
  .btn-margin {
    margin-left: 255px;
  }
  .done-message {
    margin-top: 15px;
    display: flex;
    mat-icon {
      color: $basic;
      font-size: 30px;
    }
    .done-message-text {
      @extend %montRegular;
      font-size: 18px;
      max-width: 320px;
      margin-left: 10px;
    }
  }
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}
.form-control.ng-touched.ng-valid {
  border: 1px solid green;
}

@media (max-width: $mobile) {
  .txt {
    margin: 15px 0px 25px 0px;
  }

  .form-block-container {
    max-width: 335px;
    position: "relative";

    img {
      left: 280px;
      top: -80px;
    }

    .title {
      padding-top: 120px;
      font-size: 30px;
    }
    .form-block {
      .form-group {
        display: inline;

        input,
        textarea {
          width: 335px;
        }
      }
    }
  }

  .btn-margin {
    margin-left: 0px !important;
  }

  .button-container {
    display: inline !important;
  }

  .display-none {
    display: none;
  }
}
